div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}

.editable-wrap {
    display: block;
}

.editable-controls input {
  width: 100%;
}

.the-table-longerword {
	table-layout: fixed;
	word-wrap: break-word;
}

html,body {height:100%;}
.special,.special .jumbotron {height:97%;}

